<div class="builder-form-group">
  <textarea class="form-control ace" data-type="editor-control" data-selector="<%=mapping[0][:selector]%>" data-category="content" data-key="html"></textarea>
  <div id="ace-editor"></div>
</div>