<div class="builder-form-group row color-picker">
  <label for="input-align-" class="col-sm-4 control-label"><%=label%></label>
  <div class="col-sm-8 input">
    <div class="row">
      <input class="form-control input-sm spectrum" type="text" data-type="editor-control" data-selector="<%=mapping[0][:selector]%>" data-category="style" data-key="<%=mapping[0][:key]%>">
    </div>
  </div>
</div>