<div class="builder-form-group row">
  <textarea class="form-control tinymce" rows="10" data-type="editor-control" data-toolbar="<%=mapping[0][:toolbar]%>" data-selector="<%=mapping[0][:selector]%>" data-category="content" data-key="html"></textarea>
</div>