<table data-type="body" data-name="body" id="bo118ah" width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif">
  <tbody>
  <tr>
    <td data-type="layout-container" style="padding-top: 40px; padding-bottom: 30px; text-align: center;" class="">
      <div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1bd0k5aacmsg">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td>

              <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
                <tbody><tr>
                  <td style="height: 50px;text-align: center;" data-type="content-container" class="">


                    <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd0k5ho3k9" style="position: relative;">
                      <span class="wrapper" style="display: block; text-align: center; padding: 5px 20px;"><a href=""><img style="width: 50%; max-width: 1182px; border: 0px; outline: 0px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491448585472.png" alt=""></a></span>
                    </div>
                    <div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1aqbrngvu" style="position: relative;">
                      <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 15px 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                    </div></td>
                </tr>
                </tbody></table>

            </td>
          </tr>
          </tbody></table>
      </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="ao118ah">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
              <tbody>
              <tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class="">
                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1aqbrt6l8" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 20px 10px;"><div style="text-align: center;"><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 36pt;"><strong>FLAT 25% OFF </strong></span><br style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 29.3333px;"><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 32pt;">Just For You</span></div></td></tr></tbody></table>
                  </div>


                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1bd0uimi2jro">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
              <tbody><tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class="">


                  <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd0uissvvmo" style="position: relative;">
                    <span class="wrapper" style="display: block; text-align: center; padding-top: 12px; padding-right: 20px; padding-bottom: 12px; padding-left: 20px"><a href=""><img style="width: 80%; max-width: 1676px; border: 0px; outline: 0px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491459490680.png" alt=""></a></span>
                  </div>


                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0uts6k6r" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px;"><div style="text-align: center;"><span style="font-size: 16pt; font-family: helvetica, arial, sans-serif;"><span style="color: #435353; line-height: 1.6;"><span class="s1">Thank you for being our loyal member. Here is your exclusive 25% off coupon. Just enter</span><span class="s2"><span style="color: #30b3c5; line-height: 1.6;"> 25trendspb </span></span></span><span class="s1" style="color: #435353; line-height:1.6;">while checking out.</span></span></div></td></tr></tbody></table>
                  </div></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1bd0lh2clp2o">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>

                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">

                        <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd0lhd7j4f8" style="position: relative;">
                          <span class="wrapper" style="display: block; text-align: left; padding: 12px 10px;"><a href=""><img style="width: 90%; max-width: 860px; border: 0px; outline: 0px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491450016483.png" alt=""></a></span>
                        </div><div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0tdf61rf" style="position: relative;">
                        <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><div style="text-align: left;"><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 24px;">Paper Globe</span></div></td></tr></tbody></table>
                      </div><div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0tec3g04o" style="position: relative;">
                        <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><div style="text-align: left;"><span style="text-align: center;"><span style="color: #9b9b9b; line-height: 1.4;">Original Price : </span></span><span style="color: #9b9b9b; line-height: 1.4;">$45.95<br></span><span style="color: #435353; line-height: 1.4;">Discounted Price : $39.99</span></div></td></tr></tbody></table>
                      </div><div class="content-ui-wrapper" data-type="content" data-name="button" id="id1bd10vbb2rhg" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 12px 20px 20px;">
    <a style="background-color: #ffffff; display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border-width: 1px; border-color: #435353; border-style: solid; height: 40px; line-height: 40px; width: 240px;" href="" data-external="true"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #435353;">Buy Now</span></a>
  </span>
                      </div>
                      </td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">

                      <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd0lhft0npg" style="position: relative;">
                        <span class="wrapper" style="display: block; text-align: left; padding: 12px 10px;"><a href=""><img style="width: 90%; max-width: 860px; border: 0px; outline: 0px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491450016486.png" alt=""></a></span>
                      </div><div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0tda4rrag" style="position: relative;">
                      <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><div style="text-align: left;"><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 24px;">Paper Globe</span></div></td></tr></tbody></table>
                    </div><div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0teeas1" style="position: relative;">
                      <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><div style="text-align: left;"><span style="text-align: center;"><span style="color: #9b9b9b; line-height: 1.4;">Original Price : </span></span><span style="color: #9b9b9b; line-height: 1.4;">$45.95<br></span><span style="color: #435353; line-height: 1.4;">Discounted Price : $39.99</span></div></td></tr></tbody></table>
                    </div>
                      <div class="content-ui-wrapper" data-type="content" data-name="button" id="id1bd1115hf72" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 12px 20px 20px;">
    <a style="background-color: #ffffff; display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border-width: 1px; border-color: #435353; border-style: solid; height: 40px; line-height: 40px; width: 240px;" href="" data-external="true"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #435353;">Buy Now</span></a>
  </span>
                      </div>

                    </td>
                  </tr>
                  </tbody></table>

                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1bd0ljs1kof8">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>

                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">










                        <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd0ljs1mdv" style="position: relative;">
                          <span class="wrapper" style="display: block; text-align: center; padding: 40px 10px 12px;"><a href=""><img style="width: 90%; max-width: 860px; border: 0px; outline: 0px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491458920409.png" alt=""></a></span>
                        </div>
                        <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0ti4m7hso" style="position: relative;">
                          <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 24px;">Pine Cone W</span></td></tr></tbody></table>
                        </div>
                        <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0tjca9qlg" style="position: relative;">
                          <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><span style="text-align: center;"><span style="color: #9b9b9b; line-height: 1.4;">Original Price : </span></span><span style="color: #9b9b9b; line-height: 1.4;">$45.95<br></span><span style="color: #435353; line-height: 1.4;">Discounted Price : $39.99</span></td></tr></tbody></table>
                        </div>
                        <div class="content-ui-wrapper" data-type="content" data-name="button" id="id1bd113f5ls1" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding-top: 12px; padding-right: 20px; padding-bottom: 12px; padding-left: 20px;">
    <a style="background-color: #ffffff; display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border-width: 1px; border-color: #000000; border-style: solid; height: 40px; line-height: 40px; width: 240px;" href="" data-external="true"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #435353;">Buy Now</span></a>
  </span>
                        </div>


                      </td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">



                      <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd0ljs1m17" style="position: relative;">
                        <span class="wrapper" style="display: block; text-align: center; padding: 40px 10px 12px;"><a href=""><img style="width: 90%; max-width: 860px; border: 0px; outline: 0px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491458926448.png" alt=""></a></span>
                      </div>
                      <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0ti73u1vo" style="position: relative;">
                        <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 24px;">Pine Cone G</span></td></tr></tbody></table>
                      </div>
                      <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0tjid9pt" style="position: relative;">
                        <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 10px 40px;"><span style="text-align: center;"><span style="color: #9b9b9b; line-height: 1.4;">Original Price : </span></span><span style="color: #9b9b9b; line-height: 1.4;">$45.95<br></span><span style="color: #435353; line-height: 1.4;">Discounted Price : $39.99</span></td></tr></tbody></table>
                      </div>
                      <div class="content-ui-wrapper" data-type="content" data-name="button" id="id1bd113hociqo" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 12px 20px;">
    <a style="background-color: #ffffff; display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border-width: 1px; border-color: #435353; border-style: solid; height: 40px; line-height: 40px; width: 240px;" href="" data-external="true"><span style="font-family: helvetica, arial, sans-serif; font-size: 12pt; color: #435353;">Buy Now</span></a>
  </span>
                      </div>



                    </td>
                  </tr>
                  </tbody></table>

                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div>
      <div class="layout-ui-wrapper" data-type="layout" data-name="single" id="ps1jmg8">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
          <tr>
            <td>
              <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
                <tbody>
                <tr>
                  <td style="text-align: center;" data-type="content-container" class="">

                    <div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd0k7e55ajg" style="position: relative;">
                      <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 40px 10px 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                    </div>
                    <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0mfra6i18" style="position: relative;">
                      <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 10px 20px;"><div style="text-align: center;"><span style="font-family: helvetica, arial, sans-serif; font-size: 20pt; text-align: center; color: #333333;">Connect With Us</span></div></td></tr></tbody></table>
                    </div><div class="content-ui-wrapper" data-type="content" data-name="social" id="id1bd0n34k7dg8" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: center;padding-top: 10px; padding-right: 0; padding-bottom: 10px; padding-left: 0;" class="bw-logo">

                      <a href="" data-type="social-logo" data-content="facebook" class="social-logo "><img style="margin:0 5px; width: 40px" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/facebook_bw_v3.png"></a>

                      <a href="" data-type="social-logo" data-content="instagram" class="social-logo "><img style="margin:0 5px; width: 40px" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/instagram_bw_v3.png"></a>

                      <a href="" data-type="social-logo" data-content="twitter" class="social-logo "><img style="margin:0 5px; width: 40px" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/twitter_bw_v3.png"></a>

                      <a href="" data-type="social-logo" data-content="youtube" class="social-logo "><img style="margin:0 5px; width: 40px" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/youtube_bw_v3.png"></a>
                    </td></tr></tbody></table>
                  </div><div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd0tlt61pug" style="position: relative;">
                    <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                  </div>

                    <div class="content-ui-wrapper" data-type="content" id="id1ao9r7bql" data-name="code" style="position: relative;">
                  <span class="wrapper"><span style="padding:15px; display:block; text-align:center; font-size:12px; color:#435353"><i>Copyright © Company Name, All Rights Reserved.</i><br><br>
 <i>Company Address, Zip Code, City, State, Country</i><br><br>
Don't need this? <a style="color:#435353" href="{{optout_confirm_url}}"><u>Click here to unsubscribe.</u></a><br><br>
<a style="color:#435353" href="http://example.com" data-external="true"><i><u>Example.com</u></i></a></span></span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<span style="font-size: 0">{{beacon}}</span>