<table data-type="body" data-name="body" id="bo118ah" width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif">
  <tbody>
  <tr>
    <td data-type="layout-container" style="padding-top: 40px; padding-bottom: 40px; text-align: center;" class="">
      <div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1bd0k5aacmsg">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td>

              <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
                <tbody><tr>
                  <td style="height: 50px;text-align: center;" data-type="content-container" class="">


                    <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd0k5ho3k9" style="position: relative;">
                      <span class="wrapper" style="display: block; text-align: center; padding: 5px 20px;"><a href=""><img style="width: 50%; max-width: 1182px; border: 0px; outline: 0px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491448585472.png" alt=""></a></span>
                    </div><div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd1f5iuofi" style="position: relative;">
                    <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 15px 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                  </div>
                  </td>
                </tr>
                </tbody></table>

            </td>
          </tr>
          </tbody></table>
      </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="ao118ah">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
              <tbody>
              <tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class="">



                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1aqbrt6l8" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 20px 10px;"><div style="text-align: center;"><span style="color: #435353;"><span style="font-size: 22pt; line-height: 1.5;"><span class="s1" style="font-family: helvetica, arial, sans-serif;">Hello Francesco,<br></span><span style="font-family: helvetica, arial, sans-serif;">Thank you for your purchase !</span></span><br></span></div></td></tr></tbody></table>
                  </div>

                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1f1q9bsgo" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left;padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><div style="text-align: center;"><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 14pt; line-height: 1.6;">Your Order Summary - OD60864302483</span></div></td></tr></tbody></table>
                  </div><div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1aqbrngvu" style="position: relative;">
                  <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 15px 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                </div></td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1bd1f96aba4g">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>

                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">

                        <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd1f9pev638" style="position: relative;">
                          <span class="wrapper" style="display: block; text-align: center; padding: 12px 20px;"><a href=""><img style="width: 100%; max-width: 1120px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491452111320.png" alt=""></a></span>
                        </div>
                      </td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">


                      <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1fa3e29kg" style="position: relative;">
                        <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 10px 50px 40px 40px;"><span class="s1" style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 18.6667px;"><span style="font-size: 14pt;">Pot Green</span><span style="font-size: 18.6667px; float: right;">- $ 41.99</span><strong></strong><br>Qty 1<br></span></td></tr></tbody></table>
                      </div></td>
                  </tr>
                  </tbody></table>

                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1bd1i3g1fukg">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>

                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">

                        <div class="content-ui-wrapper" data-type="content" data-name="image" id="id1bd1i3g1l2p8" style="position: relative;">
                          <span class="wrapper" style="display: block; text-align: center; padding: 20px 20px 0px;"><a href=""><img style="width: 100%; max-width: 1120px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/1491452111310.png" alt=""></a></span>
                        </div>
                      </td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">


                      <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1i3g1l478" style="position: relative;">
                        <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 20px 50px 0px 30px;"><span class="s1" style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 18.6667px;"><span style="font-size: 14pt;">Cam EO</span><span style="font-size: 18.6667px; float: right;">- $ 41.99</span><strong></strong><br>Qty 1<br></span></td></tr></tbody></table>
                      </div></td>
                  </tr>
                  </tbody></table>

                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div>
      <div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1bd1ij5580t">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td>

              <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
                <tbody><tr>
                  <td style="height: 50px;text-align: center;" data-type="content-container" class="">

                    <div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd1ij55a09g" style="position: relative;">
                      <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 5px 10px 0px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                    </div></td>
                </tr>
                </tbody></table>

            </td>
          </tr>
          </tbody></table>
      </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-nr" id="id1bd1iad52ra8">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
              <tbody><tr>
                <td style="height: 50px;text-align: center; width:50%" data-type="content-container" class="">


                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1iaqon40g" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 0px 10px 0px 30px;"><span style="font-family: helvetica, arial, sans-serif; color: #435353; font-size: 14pt; line-height: 1.45;">Sub Total<br>Shipping</span></td></tr></tbody></table>
                  </div></td>
                <td style="height: 50px;text-align: center; width:50" data-type="content-container" class="">

                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1iat35rb8" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 0px 40px 0px 10px;"><div style="text-align: right;"><span style="font-family: helvetica, arial, sans-serif; color: #435353; font-size: 14pt; line-height: 1.4;">$ 81.98<br>$4.99</span></div></td></tr></tbody></table>
                  </div>
                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-nr" id="id1bd1ijm7hi">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
              <tbody><tr>
                <td style="height: 50px;text-align: center; width:50%" data-type="content-container" class="">

                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1ijrn84i" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 0px 10px 0px 30px; border-color: #333333;"><span style="font-family: helvetica, arial, sans-serif; font-size: 20px; color: #000000;">Total Cost</span></td></tr></tbody></table>
                  </div>
                </td>
                <td style="height: 50px;text-align: center; width:50" data-type="content-container" class="">

                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1ijvl4m18" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 0px 40px 0px 10px;"><div style="text-align: right;"><span style="color: #000000; font-family: helvetica, arial, sans-serif; font-size: 20px;">$ 86.98</span></div></td></tr></tbody></table>
                  </div>
                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="ps1jmg8">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
              <tbody>
              <tr>
                <td style="text-align: center;" data-type="content-container" class="">





                  <div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd1irhs9a0o" style="position: relative;">
                    <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 0px 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                  </div><div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd0mfra6i18" style="position: relative;">
                  <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 20px 40px 0px;"><div style="text-align: center;"><span style="color: #435353; font-size: 20pt;"><span style="color: #435353; font-size: 20pt;"><span style="font-family: helvetica, arial, sans-serif; line-height: 1.5;">Shipping Details<br></span></span></span>
                    <p class="p1"><span style="font-family: helvetica, arial, sans-serif; font-size: 16pt; line-height: 1.4;"><span class="s1" style="color: #435353; line-height: 1.5;">We are pleased to confirm <span style="font-size: 14pt;">your</span> order no<br></span><span class="s2" style="color: #30b3c5; line-height: 1.5;">OD60864302483</span></span></p>
                  </div></td></tr></tbody></table>
                </div>
                  <div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd0tlt61pug" style="position: relative;">
                    <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                  </div>


                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1bd1j4o6tlog">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>

                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">

                        <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1j51bhc9g" style="position: relative;">
                          <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 20px 40px 10px;"><span class="s1" style="font-family: helvetica, arial, sans-serif; font-size: 16pt; color: #435353; line-height: 1.5;"><span style="font-size: 16pt;">Shipping Time</span><br><br></span><span style="font-size: 12pt; color: #435353; font-family: helvetica, arial, sans-serif; line-height: 1.5;"><span class="s1">Your order will be delivered <br>between</span><span class="s1">Sat 18, Mar 2017 <br>&amp; </span>Mon 20, Mar 2017.</span></td></tr></tbody></table>
                        </div>
                      </td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; height: 50px; width: 320px;" data-type="content-container" class="">

                      <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1j54mp2s" style="position: relative;">
                        <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 20px 40px 10px;"><span class="s1" style="font-family: helvetica, arial, sans-serif; font-size: 16pt; color: #435353; line-height: 1.5;">Delivery Address<br><br></span><span style="color: #435353; font-family: helvetica, arial, sans-serif; font-size: 12pt; line-height: 1.5;">Francesco Pacella,<br>Magarpatta City,<br>Pune - 411028, Maharashtra</span></td></tr></tbody></table>
                      </div>
                    </td>
                  </tr>
                  </tbody></table>

                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1bd1jdei950o">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
              <tbody><tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class="">


                  <div class="content-ui-wrapper" data-type="content" data-name="button" id="id1bd1jdjcj6a" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 30px 40px 20px;">
    <a style="background-color: #ffffff; display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border-width: 1px; border-color: #000000; border-style: solid; height: 40px; line-height: 40px; width: 230px;" href="" data-external="true"><span style="font-size: 12pt;"><span style="font-family: helvetica, arial, sans-serif; color: #000000;">Manage Your Order</span></span></a>
  </span>
                  </div>
                </td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1bd1lslfvb08">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>

            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
              <tbody><tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class="">



                  <div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd1j076uobg" style="position: relative;">
                    <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                  </div></td>
              </tr>
              </tbody></table>

          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1bd1j076ng48">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
              <tbody>
              <tr>
                <td style="text-align: center;" data-type="content-container" class="">

                  <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1bd1lvg00tb" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left;padding-top: 10px; padding-right: 10px; padding-bottom: 10px; padding-left: 10px;"><div style="text-align: center;"><span style="font-size: 18pt; color: #333333;"><em><span style="font-family: georgia, palatino, serif;"><span style="line-height: 1.5;">Thank You For Shopping With Us</span></span></em></span></div></td></tr></tbody></table>
                  </div>
                  <div class="content-ui-wrapper" data-type="content" data-name="social" id="id1bd1j076u8no" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: center;padding-top: 10px; padding-right: 0; padding-bottom: 10px; padding-left: 0;" class="bw-logo">


                      <a href="" data-type="social-logo" data-content="facebook" class="social-logo "><img style="margin: 0px 5px; width: 38px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/facebook_bw_v3.png"></a>

                      <a href="" data-type="social-logo" data-content="instagram" class="social-logo "><img style="margin: 0px 5px; width: 38px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/instagram_bw_v3.png"></a>

                      <a href="" data-type="social-logo" data-content="twitter" class="social-logo "><img style="margin: 0px 5px; width: 38px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/twitter_bw_v3.png"></a>

                      <a href="" data-type="social-logo" data-content="youtube" class="social-logo "><img style="margin: 0px 5px; width: 38px;" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/social-logos/youtube_bw_v3.png"></a>
                    </td></tr></tbody></table>
                  </div><div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1bd1j076u5c" style="position: relative;">
                  <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 10px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                </div>

                  <div class="content-ui-wrapper" data-type="content" id="id1bd1j076uv1o" data-name="code" style="position: relative;">
                  <span class="wrapper"><span style="padding:15px; display:block; text-align:center; font-size:12px; color:#435353"><i>Copyright © Company Name, All Rights Reserved.</i><br><br>
 <i>Company Address, Zip Code, City, State, Country</i><br><br>
Don't need this? <a style="color:#435353" href="{{optout_confirm_url}}"><u>Click here to unsubscribe.</u></a><br><br>
<a style="color:#435353" href="http://example.com" data-external="true"><i><u>Example.com</u></i></a></span></span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    </td>
  </tr>
  </tbody>
</table>
<span style="font-size: 0">{{beacon}}</span>