<table data-type="body" data-name="body" id="bo118ah" width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center; font-family: Arial, Helvetica, sans-serif; background-color: #f2fafa;">
  <tbody>
  <tr>
    <td data-type="layout-container" style="padding-top: 0px; padding-bottom: 0px; text-align: center;" class="">
      <div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1apsb6ku4">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody><tr>
            <td>
              <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
                <tbody><tr>
                  <td style="height: 50px;text-align: center;" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsb7d5m" data-name="image" style="position: relative;">
                    <span class="wrapper" style="display: block; text-align: center; padding: 20px 20px 15px; "><a href=""><img style="width: 100%; max-width: 120px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/logo-watermark-black-final.png" alt=""></a></span>
                  </div>
                  </td>
                </tr>
                </tbody></table>
            </td>
          </tr>
          </tbody></table>
      </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1apsb8bjb">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
              <tbody><tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsbvv50" data-name="image" style="position: relative;">
                  <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 640px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-13.jpg" alt=""></a></span>
                </div>
                  <div class="content-ui-wrapper" data-type="content" id="id1apsb86os" data-name="text" style="position: relative;">
                    <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="padding: 10px 20px 15px;"><div style="text-align: center;"><span style="color: #435353; text-align: center; font-size: 11pt; font-family: helvetica, arial, sans-serif;">To modify the layout of this template, select the "Containers" tab in the left section and drag and drop "Containers" elements with different columns and responsiveness settings. Then, fill them with "Content" elements with your assets from the library and your copy. Easily define the style you need for each "Content" element and you are ready to send! You can edit this Text element by clicking on it.</span></div></td></tr></tbody></table>
                  </div></td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1apsg09kq">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsg3i2l" data-name="image" style="position: relative;">
                        <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-4.jpg" alt=""></a></span>
                      </div>
                        <div class="content-ui-wrapper" data-type="content" id="id1apsg0eae" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 0px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                        </div></td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsg3kdj" data-name="image" style="position: relative;">
                      <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-8.jpg" alt=""></a></span>
                    </div>
                      <div class="content-ui-wrapper" data-type="content" id="id1apsg0i25" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 0px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                      </div></td>
                  </tr>
                  </tbody></table>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1apsbi3gd">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsg3geo" data-name="image" style="position: relative;">
                        <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-10.jpg" alt=""></a></span>
                      </div>
                        <div class="content-ui-wrapper" data-type="content" id="id1apsbi3gf" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 0px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                        </div></td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class="">
                      <div class="content-ui-wrapper" data-type="content" id="id1apsg3e3k" data-name="image" style="position: relative;">
                        <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-5.jpg" alt=""></a></span>
                      </div><div class="content-ui-wrapper" data-type="content" id="id1apsg350m" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 0px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                    </div></td>
                  </tr>
                  </tbody></table>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1apsg0t6e">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsg3rrf" data-name="image" style="position: relative;">
                        <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-3.jpg" alt=""></a></span>
                      </div>
                        <div class="content-ui-wrapper" data-type="content" id="id1apsg10od" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 1px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                        </div></td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsg3u8h" data-name="image" style="position: relative;">
                      <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-9.jpg" alt=""></a></span>
                    </div>
                      <div class="content-ui-wrapper" data-type="content" id="id1apsg12ag" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 0px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                      </div></td>
                  </tr>
                  </tbody></table>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="2-2-center" id="id1apsg0qbq">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center; ">
              <tbody><tr>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                    <tbody><tr>
                      <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsfev0l" data-name="image" style="position: relative;">
                        <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-1.jpg" alt=""></a></span>
                      </div>
                        <div class="content-ui-wrapper" data-type="content" id="id1apsg0vg3" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 0px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                        </div></td>
                    </tr>
                    </tbody></table><table border="0" cellspacing="0" cellpadding="0" style="display: inline-block;vertical-align: top">
                  <tbody><tr>
                    <td style="text-align: center; width: 320px; height: 50px" data-type="content-container" class=""><div class="content-ui-wrapper" data-type="content" id="id1apsg3o05" data-name="image" style="position: relative;">
                      <span class="wrapper" style="display: block; text-align: center; padding: 15px 20px 10px; "><a href=""><img style="width: 100%; max-width: 320px; border:0; outline: 0" src="http://s3.amazonaws.com/asset.pepomail.com/common-assets/images/gtemplates/image-template-6-7.jpg" alt=""></a></span>
                    </div>
                      <div class="content-ui-wrapper" data-type="content" id="id1apsg1026" data-name="button" style="position: relative;">
  <span class="wrapper" style="display: block; text-align: center; padding: 0px 20px 15px;">
    <a style="display: inline-block; border-radius: 0px; text-align: center; text-decoration: none; font-weight: 300; margin: 0px auto; border: 0px solid #435353; height: 40px; line-height: 40px; width: 280px; background-color: #2a97cf;" href="#"><span style="color: #ffffff; font-size: 12pt; font-family: helvetica, arial, sans-serif;">Buy Pineapple!</span></a>
  </span>
                      </div></td>
                  </tr>
                  </tbody></table>
                </td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1apsbipjg">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin:0 auto;max-width: 640px;background-color: #fff;text-align: center;vertical-align: top">
              <tbody><tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class="">
                  <div class="content-ui-wrapper" data-type="content" id="id1apsbishh" data-name="divider" style="position: relative;">
                    <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 15px 40px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #435353; display: block;"></span></td></tr></tbody></table>
                  </div></td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="ps1jmg8">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
              <tbody>
              <tr>
                <td style="text-align: center;" data-type="content-container" class="">
                  <div class="content-ui-wrapper" data-type="content" id="id1ao9r7bql" data-name="code" style="position: relative;">
                  <span class="wrapper"><span style='padding:15px; display:block; text-align:center; font-size:12px; color:#000000'><i>Copyright © Company Name, All Rights Reserved.</i><br><br>
 <i>Company Address, Zip Code, City, State, Country</i><br><br>
Don't need this? <a style="color:#000000" href="{{optout_confirm_url}}"><u>Click here to unsubscribe.</u></a><br><br>
<a style="color:#000000" href="http://example.com"><i><u>Example.com</u></i></a></span></span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    </td>
  </tr>
  </tbody>
</table>
<span style="font-size: 0">{{beacon}}</span>