<table data-type="body" data-name="body" id="bo118ah" width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif">
  <tbody>
  <tr>
    <td data-type="layout-container" style="padding-top: 40px; padding-bottom: 30px; text-align: center;" class="">
      <div class="layout-ui-wrapper" data-type="layout" data-name="single" id="ao118ah">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
          <tr>
            <td>
              <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
                <tbody>
                <tr>
                  <td style="height: 50px;text-align: center;" data-type="content-container" class="">
                    <div class="content-ui-wrapper" data-type="content" data-name="text" id="id1aqbrt6l8" style="position: relative;">
                      <table class="wrapper" width="100%" border="0" cellspacing="0" cellpadding="0"><tbody><tr><td style="text-align: left; padding: 0px 0px 10px;"><div style="text-align: center;"><span style="font-size: 10pt; font-family: helvetica, arial, sans-serif;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis est sit amet sodales interdum. Nam euismod sapien velit. Fusce finibus lorem non neque tempus ultrices. Donec a lacus in neque egestas mattis. Quisque blandit enim sit amet leo blandit, et porttitor leo convallis. Nulla eget leo orci. Suspendisse vitae pulvinar arcu. Ut eget risus ut augue semper consequat quis nec dui. Phasellus tempor, erat in elementum hendrerit, mauris purus faucibus purus, sed viverra massa ipsum ut odio. Mauris ut pellentesque lectus. Nulla hendrerit arcu metus, quis interdum ante aliquam at. Vestibulum et quam eget metus vehicula bibendum vitae placerat dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis est sit amet sodales interdum. Nam euismod sapien velit. Fusce finibus lorem non neque tempus ultrices. Donec a lacus in neque egestas mattis. Quisque blandit enim sit amet leo blandit, et porttitor leo convallis. Nulla eget leo orci. Suspendisse vitae pulvinar arcu. Ut eget risus ut augue semper consequat quis nec dui. Phasellus tempor, erat in elementum hendrerit, mauris purus faucibus purus, sed viverra massa ipsum ut odio. Mauris ut pellentesque lectus. Nulla hendrerit arcu metus, quis interdum ante aliquam at. Vestibulum et quam eget metus vehicula bibendum vitae placerat dolor.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis est sit amet sodales interdum. Nam euismod sapien velit. Fusce finibus lorem non neque tempus ultrices. Donec a lacus in neque egestas mattis. Quisque blandit enim sit amet leo blandit, et porttitor leo convallis. Nulla eget leo orci. Suspendisse vitae pulvinar arcu. Ut eget risus ut augue semper consequat quis nec dui. Phasellus tempor, erat in elementum hendrerit, mauris purus faucibus purus, sed viverra massa ipsum ut odio. Mauris ut pellentesque lectus. Nulla hendrerit arcu metus, quis interdum ante aliquam at. Vestibulum et quam eget metus vehicula bibendum vitae placerat dolor.</span></div></td></tr></tbody></table>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div><div class="layout-ui-wrapper" data-type="layout" data-name="single" id="id1aqbrsni0">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr>
          <td>
            <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
              <tbody><tr>
                <td style="height: 50px;text-align: center;" data-type="content-container" class="">
                  <div class="content-ui-wrapper" data-type="content" data-name="divider" id="id1aqbrngvu" style="position: relative;">
                    <table class="wrapper" border="0" cellspacing="0" cellpadding="0" width="100%" style="margin: 5px 0;"><tbody><tr><td style="padding: 15px 20px;"><span style="border-top: none; border-right: none; border-left: none; border-bottom: 1px solid #333333; display: block;"></span></td></tr></tbody></table>
                  </div></td>
              </tr>
              </tbody></table>
          </td>
        </tr>
        </tbody></table>
    </div>
      <div class="layout-ui-wrapper" data-type="layout" data-name="single" id="ps1jmg8">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
          <tr>
            <td>
              <table border="0" cellspacing="0" cellpadding="0" width="100%" data-type="structure" style="margin: 0px auto; max-width: 640px; text-align: center; vertical-align: top; background-color: #ffffff;">
                <tbody>
                <tr>
                  <td style="text-align: center;" data-type="content-container" class="">
                    <div class="content-ui-wrapper" data-type="content" id="id1ao9r7bql" data-name="code" style="position: relative;">
                  <span class="wrapper">
                    <span style='padding:15px; display:block; text-align:center; font-size:12px; color:#000000'><i>Copyright © Company Name, All Rights Reserved.</i><br><br>
 <i>Company Address, Zip Code, City, State, Country</i><br><br>
Don't need this? <a style="color:#000000" href="{{optout_confirm_url}}"><u>Click here to unsubscribe.</u></a><br><br>
<a style="color:#000000" href="http://example.com"><i><u>Example.com</u></i></a></span>
                  </span>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<span style="font-size: 0">{{beacon}}</span>