#builder-controls{

  float: left;
  border-right: solid 2px #30b3c5;

  .tab-container{
    padding-top: 15px;
  }
  .pepo-page-tabs{
    margin-top: 0;
  }
  .tab-content{
    padding: 10px 20px;
    overflow-y: scroll;
    p.text-info{
      color: #75a9b0;
      padding: 10px 0;
    }
  }
  .layout-content{
    padding: 10px 0;
    height: calc(100% - 89px);
    overflow-y: scroll;
  }

  .col-content{
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 20px;

    .thumbnail{
      border: 4px solid #c2e8ea;
      border-radius: 8px;
      padding: 1px 8px;
      .caption{
        padding: 0;
        p{
          color: #75a9b0;
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }

  .row-layout{
    max-width: 450px;

    label{
      font-size: 12px;
      color: #75a9b0;
      text-transform: uppercase;
      font-weight: 400 !important;
    }

    .thumbnail{
      border: 0;
      padding: 0;
      cursor: move;
      img{
        height:45px;
      }
    }
  }

  .controls-layout{
    h3{
      margin-top: 25px;
      color: #30b3c5;
      font-weight: 400;
      font-size: 22px;

      small, .small{
        color: #30b3c5;
      }

      .small{
        font-size: 50%;
      }
    }

  }

  .content-editor{

    height: 100%;

    .tabs{
      height: calc(100% - 89px);
    }

    .close-btn{
      float: right;
      margin-right: 20px;
    }
  }

  #content-editor-container{
    background-color: #f0fafa;
    position: absolute;
    width: 98%;
    height: calc(100% - 30px);
    top: 15px;
    left: -98%;
    border-radius: 0 10px 10px 0;
    z-index: 2;

    .title{
      font-size: 18px;
      color: #30b3c5;
      padding: 12px 20px;
      margin: 0;
    }

    .tabs{

      .nav-tabs{
        padding-left: 20px;
        border-bottom: 2px solid #c1e8e9;

        >li.active>a,
        >li.active>a:focus,
        >li.active>a:hover{
          background: #f0fafa;;
          border: 2px solid #c1e8e9;
          border-bottom: none;
          color: #30b3c5;
        }
        >li{
          margin-bottom: -2px;
          >a {
            padding: 8px 18px;
            color: #75a9b0;
            border: 2px solid transparent;
            border-bottom: none;

          &:focus,
          &:hover{
            background: transparent;
          }
        }

        }
      }

      .tab-content {
        padding: 10px 0;
        height: calc(100% - 50px);
        overflow-y: scroll;
      }

    }

  }

  .bg_e5f6f6{
    background-color: #e5f6f6;
  }

  #controls-editor-style{

  }



}

#builder-preview{

  float: left;
  overflow-y: scroll;

  .preview-container{
    width:100%;
    margin: auto;
    padding: 25px;
  }
}

#responsiveContainerPopOver{
  .infoIcon{
//    background-color: #c2e8ea;
//    height: 16px;
//    width: 16px;
//    display: inline-block;
//    color: #fff;
//    font-size: 10px;
//    border-radius: 20px;
//    line-height: 16px;
//    text-align: center;
    color: #30b3c5;
  }

  .popover{
    border: 1px solid #c2e8ea;
    font-size: 11px;
    width: 200px;
    color: #9aaaaa;
    display: block!important;
    .popover-title{
      color: #75a9b0;
      background-color: transparent;
      border: none;
      letter-spacing: .4px;
      padding: 10px 12px;
      font-size: 11px;
      font-weight: 500;
      margin: 0;
    }
    img{
      width: 100%;
      height: 149px;
      margin-bottom: 12px;
    }
    .popover-content{
      letter-spacing: 0.4px;
      padding: 0 12px 9px 12px;
    }
  }
  .cursorPointer{
    cursor: default;
    &:focus{
      outline: none;
    }
  }
  .popover.bottom>.arrow{
    border-bottom-color: #c2e8ea;
  }
  .popover.top>.arrow{
    border-top-color: #c2e8ea;
  }
}
